html{
  font-size: 20px;
}
#container {
  margin: 50px;
}
div{
  margin-bottom: 15px;
}
label{
  display: inline-block;
  width: 150px;
}
form{
  display: flex;
  flex-direction: column;
}
input{
  font-size: 20px;
  border-radius: 5px;
}
button{
  font-size: 23px;
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
output{
  border-bottom: 3px dashed red;
}